@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

$black: #333;
$white: #ffffff;
$paragraphFont: 35px;
$fontFamily: 'Open Sans Condensed', sans-serif;
$borderBottom: solid#ffffff;